/* Regarder les média querys */
/* @font-face {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    src: local(''), url('/fonts/INTER_18PT-BLACK.TTF') format('ttf'),
} */

#more {display: none;} 

* {
  margin: 10px;
  box-sizing: border-box;
}

body {
    background-color: rgb(247, 242, 241);
    /* color: rgb(145, 96, 112); */
}

h1 {
    color: rgb(0, 0, 0);
    font-weight: bolder;
    font-family: Inter;
}


.grid-container > div {
  padding: 10px;
  font-size: 16px;
}


@media only screen and (max-width: 600px) {
    .grid-container {
        display: grid;
        grid: repeat(6, 400px) / auto-flow 400px;
        gap: 10px;
        background-color: rgb(209, 205, 181);
        padding: 10px;
    }
  /* .item1 {grid-area: 1 / span 6;}
  .item2 {grid-area: 2 / span 6;}
  .item3 {grid-area: 3 / span 6;}
  .item4 {grid-area: 4 / span 6;}
  .item5 {grid-area: 5 / span 6;} */
}

@media only screen and (min-width: 600px) and (max-width: 912px) {
    .grid-container {
        display: grid;
        grid: repeat(4, 400px) / auto-flow 400px;
        gap: 10px;
        background-color: rgb(209, 205, 181);
        padding: 10px;
    }
  /* .item1 {grid-area: 1 / span 6;}
  .item2 {grid-area: 2 / span 1;}
  .item3 {grid-area: 2 / span 4;}
  .item4 {grid-area: 3 / span 6;}
  .item5 {grid-area: 4 / span 6;} */
}

@media only screen and (min-width: 912px) {
    .grid-container {
        display: grid;
        grid: repeat(2, 400px) / auto-flow 400px;
        gap: 10px;
        background-color: rgb(209, 205, 181);
        padding: 10px;
    }
  /* .item1 {grid-area: 1 / span 6;}
  .item2 {grid-area: 2 / span 6;}
  .item3 {grid-area: 3 / span 6;}
  .item4 {grid-area: 4 / span 6;}
  .item5 {grid-area: 5 / span 6;}
  .item5 {grid-area: 6 / span 6;} */
}


.thumbn {
    width: 400px;
    height: 400px;
    object-fit: cover;
}



p{
    color: rgb(64, 173, 165);
    background-color: black;
}

.banniere {
    padding: 200px;
    background-image: url("./pictures/Abzu\,\ Whale.jpg");
    background-position: 100px;
}

.elem1 {
    font-size: 1.5em;
    font-family: Manrope;
    font-style: normal;
    font-weight: bold;
    text-decoration: none;
    text-align: left;
}

.elem2 {
    font-size: 1.5em;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-style: oblique;
    font-weight: thin;
    text-decoration: underline;
    text-align: center;
}

.elem3 {
    font-size: 2em;
    font-family: Arial, Helvetica, sans-serif;
    font-style: italic;
    font-weight: normal;
    text-decoration: line-through;
    text-align: right;
}