/* CSS MEDIA QUERY POUR RESPONSIVE */
/* MODAL pour fenêtres flottantes  */

/* @import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200..700&display=swap'); */

:root{
    --thmb_width: 252px;
    /* --thmb_spacing: 220px; */
    --rated_visibility: none;
    --myst_visibility: none;
    --anim_visibility: none;
    --other_visibility: none;
}

.topbar{
    background:#61787F; 
    color:#fff; 
    border-radius:0px;
    display:flex; 
    align-items:center; 
    gap:0px; 
    padding:0px 0px;
}

.logo{
    width: 127px;
    height: 94px;
}

.bar-title{ 
    margin-right:auto; font-size: 2em; 
}

#more {display: none;} 

* {
  /* margin: 10px; */
  box-sizing: border-box;
}

body {
    background-color: rgb(255, 255, 255);
    font-family: 'Oswald', sans-serif;
    margin: auto;
}
main {
    margin-top: 50px;
    margin-bottom: 50px;
}

h1 {
    color: rgb(0, 0, 0);
    font-size: 3em;
    font-family: "Oswald", sans-serif;
    font-optical-sizing: auto;
    font-weight: bolder;
    font-style: normal;
}

h2 {
    color: rgb(255, 255, 255);
    font-size: 3em;
    font-family: "Oswald", sans-serif;
    font-optical-sizing: auto;
    font-weight: bold;
    font-style: normal;
}

h3 {
    color: rgb(255, 255, 255);
    /* font-size: 3em; */
    font-family: "Oswald", sans-serif;
    font-optical-sizing: auto;
    font-weight: normal;
    font-style: normal;
}

h4 {
    color: rgb(0, 0, 0);
    font-size: 1.6em;
    font-family: "Oswald", sans-serif;
    /* font-optical-sizing: auto; */
    font-weight: lighter;
    font-style: normal;
}

h5 {
    color: rgb(0, 0, 0);
    font-size: 3em;
    font-family: "Oswald", sans-serif;
    font-optical-sizing: auto;
    font-weight: bolder;
    font-style: normal;
}

h6 {
    color: rgb(0, 0, 0);
    /* font-size: 3em; */
    font-family: "Oswald", sans-serif;
    font-optical-sizing: auto;
    font-weight: lighter;
    font-style: normal;
}


p {
  margin: 50px 0;
  }


.best-container {
    display: flex;
    /* /flex-direction: row; */
    /* justify-content: center; */
    /* align-items: center; */

    position: relative;
    width: 835px;
    height: 369px;
    border: 6px solid #000000;
}

.best-thumbn {
    width: 227px;
    height: 334px;
    margin: 10px;
}

#ratedTitle0 {
    /* position: absolute; */
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
}

.best-btn {
    position: absolute;
    bottom: 0;
    right: 0;
    
    width: 168px;
    height: 68px;
    
    background-color: #FA0B0B;
    border: none;
    padding: 8px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;

    color: rgb(255, 255, 255);
    font-size: 1.6em;
    font-family: "Oswald", sans-serif;
    font-optical-sizing: auto;
    font-weight: normal;
    font-style: normal;

    margin: 10px 30px;
    border-radius: 30px;
}


.grid-container > div {
  font-size: 16px;
}

.thumbn-container {
    width: var(--thmb_width);
    height: var(--thmb_width);
    position: relative;
}

.thumbn {
    width: var(--thmb_width);
    height: var(--thmb_width);
    /* object-fit: contain; */
    object-fit: cover;
    position: absolute;
}

.overlay-rect {
    width: 100%;
    height: 102px;
    position: absolute;
    bottom: 85px;
    /* left: 0; */
    z-index: 1;
    background: rgba(0, 0, 0, 0.5);
}

/* Texte en overlay sur l'image */
.overlay-text {
  position: absolute;
  color: white;
  font-size: 1.2rem;
  z-index: 2;
}

.overlay-btn {
    position: absolute;
    bottom: 0;
    right: 0;
    z-index: 2;

    /* width: 81;
    height: 25; */
    
    background-color: #2f2f2f;
    border: none;
    padding: 2px 18px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    
    color: rgb(255, 255, 255);
    /* font-size: 1.1em; */
    font-family: "Oswald", sans-serif;
    font-optical-sizing: auto;
    font-weight: normal;
    font-style: normal;

    margin: 12px 12px;
    border-radius: 24px;
}

.see-more-btn {
    width: 214px;
    height: 42px;
    
    background-color: #FA0B0B;
    border: none;
    padding: 8px;
    text-align: center;
    text-decoration: none;
    display: inline-block;

    color: rgb(255, 255, 255);
    font-size: 1em;
    font-family: "Oswald", sans-serif;
    font-optical-sizing: auto;
    font-weight: normal;
    font-style: normal;

    margin: 10px;
    border-radius: 30px;
}

@media only screen and (max-width: 600px) {
    body {
        max-width: 456px;
    }
    
    .grid-container {
        display: grid;

        grid-template-columns: repeat(1,var(--thmb_width));
        gap: 10px;
    }

    .best-container {
    /* justify-content: center; */
    /* align-items: center; */
    flex-direction: column;
    width: 329px;
    height: 563px;
    border: 6px solid #000000;
    }

    .best-thumbn {
    width: 298px;
    height: 241px;
    object-fit: cover;
    }

    .best-btn {
    position: absolute;
    bottom: 0;
    right: 0;
    
    width: 90px;
    height: 40px;
    
    background-color: #FA0B0B;
    border: none;
    padding: 8px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;

    color: rgb(255, 255, 255);
    font-size: 1em;
    font-family: "Oswald", sans-serif;
    font-optical-sizing: auto;
    font-weight: normal;
    font-style: normal;

    margin: 10px 100px;
    border-radius: 30px;
}

    #rated3 {display: var(--rated_visibility);}
    #rated4 {display: var(--rated_visibility);}
    #rated5 {display: var(--rated_visibility);}
    #rated6 {display: var(--rated_visibility);}

    #myst3 {display: var(--myst_visibility);}
    #myst4 {display: var(--myst_visibility);}
    #myst5 {display: var(--myst_visibility);}
    #myst6 {display: var(--myst_visibility);}
    
    #anim3 {display: var(--anim_visibility);}
    #anim4 {display: var(--anim_visibility);}
    #anim5 {display: var(--anim_visibility);}
    #anim6 {display: var(--anim_visibility);}

    #other3 {display: var(--other_visibility);}
    #other4 {display: var(--other_visibility);}
    #other5 {display: var(--other_visibility);}
    #other6 {display: var(--other_visibility);}
    
}

@media only screen and (min-width: 600px) and (max-width: 912px) {
    body {
        max-width: 768px;
    }

    .grid-container {
        display: grid;
        grid-template-columns: repeat(2,var(--thmb_width));
        gap: 10px;
    }
    #rated5 {display: var(--rated_visibility);}
    #rated6 {display: var(--rated_visibility);}

    #myst5 {display: var(--myst_visibility);}
    #myst6 {display: var(--myst_visibility);}

    #anim5 {display: var(--anim_visibility);}
    #anim6 {display: var(--anim_visibility);}

    #other5 {display: var(--other_visibility);}
    #other6 {display: var(--other_visibility);}
}

@media only screen and (min-width: 912px) {
    body {
        max-width: 1034px;
    }
    .grid-container {
        display: grid;
        grid-template-columns: repeat(3,var(--thmb_width));
        grid-template-rows:repeat(1,auto);
        gap: 10px;
    }
    .see-more-btn {display: none;}
}