/* CSS MEDIA QUERY POUR RESPONSIVE */
/* MODAL pour fenêtres flottantes  */

@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200..700&display=swap');

:root{
    --thmb_width: 300px;
    /* --thmb_spacing: 220px; */
    --rated_visibility: none;
    --myst_visibility: none;
    --anim_visibility: none;
    --other_visibility: none;
}

.topbar{
  background:#61787F; color:#fff; border-radius:0px;
  display:flex; align-items:center; gap:0px; padding:0px 0px;
}

.logo{
    width: 127px;
    height: 94px;
}
.bar-title{ 
    margin-right:auto; font-size: 2em; 
}

#more {display: none;} 

* {
  margin: 10px;
  box-sizing: border-box;
}

body {
    background-color: rgb(255, 255, 255);
    font-family: 'Oswald', sans-serif;
}

h1 {
    color: rgb(0, 0, 0);
    font-weight: bolder;
    font-size: 3em;
}


.grid-container > div {
  padding: 10px;
  font-size: 16px;
}

.thumbn {
    width: var(--thmb_width);
    height: var(--thmb_width);
    /* object-fit: contain; */
    object-fit: cover;
    position: relative;
}

/* Texte en overlay sur l'image */
.overlay-text {
  position: absolute;
  /* bottom: 0;  */
  /* left: 0; */
  /* width: 100%; */
  background: rgba(0, 0, 0, 0.5); /* rectangle noir à 50% d’opacité */
  color: white;
  /* text-align: center; */
  /* padding: 8px 0; */
  /* margin: 0; */
  font-size: 1.2rem;
  z-index: 2;
}


@media only screen and (max-width: 600px) {
    .grid-container {
        display: grid;

        grid-template-columns: repeat(1,var(--thmb_width));
        align-items: center;
        justify-content: center;
        gap: 00px;
        /* background-color: rgb(209, 205, 181); */
        padding: 10px;
    }
    #rated3 {display: var(--rated_visibility);}
    #rated4 {display: var(--rated_visibility);}
    #rated5 {display: var(--rated_visibility);}
    #rated6 {display: var(--rated_visibility);}

    #myst3 {display: var(--myst_visibility);}
    #myst4 {display: var(--myst_visibility);}
    #myst5 {display: var(--myst_visibility);}
    #myst6 {display: var(--myst_visibility);}
    
    #anim3 {display: var(--anim_visibility);}
    #anim4 {display: var(--anim_visibility);}
    #anim5 {display: var(--anim_visibility);}
    #anim6 {display: var(--anim_visibility);}

    #other3 {display: var(--other_visibility);}
    #other4 {display: var(--other_visibility);}
    #other5 {display: var(--other_visibility);}
    #other6 {display: var(--other_visibility);}
    
}

@media only screen and (min-width: 600px) and (max-width: 912px) {
    .grid-container {
        display: grid;
        grid-template-columns: repeat(2,var(--thmb_width));
        align-items: center;
        justify-content: center;
        gap: 10px;
        /* background-color: rgb(209, 205, 181); */
        padding: 10px;
    }
    #rated5 {display: var(--rated_visibility);}
    #rated6 {display: var(--rated_visibility);}

    #myst5 {display: var(--myst_visibility);}
    #myst6 {display: var(--myst_visibility);}

    #anim5 {display: var(--anim_visibility);}
    #anim6 {display: var(--anim_visibility);}

    #other5 {display: var(--other_visibility);}
    #other6 {display: var(--other_visibility);}
}

@media only screen and (min-width: 912px) {
    .grid-container {
        display: grid;
        grid-template-columns: repeat(3,var(--thmb_width));
        grid-template-rows:repeat(1,auto);
        align-items: center;
        justify-content: center;
        gap: 10px;
        /* background-color: rgb(209, 205, 181); */
        padding: 10px;
    }
    .myBtn {display: none;}
}






p{
    color: rgb(64, 173, 165);
    background-color: black;
}

.banniere {
    padding: 200px;
    background-image: url("./pictures/Abzu\,\ Whale.jpg");
    background-position: 100px;
}

.elem1 {
    font-size: 1.5em;
    font-family: Manrope;
    font-style: normal;
    font-weight: bold;
    text-decoration: none;
    text-align: left;
}

.elem2 {
    font-size: 1.5em;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-style: oblique;
    font-weight: thin;
    text-decoration: underline;
    text-align: center;
}

.elem3 {
    font-size: 2em;
    font-family: Arial, Helvetica, sans-serif;
    font-style: italic;
    font-weight: normal;
    text-decoration: line-through;
    text-align: right;
}